Repository KinsonDigital/Velaptor, pull requests merged in 2022-08, with the labels that each got.

#297 Update runsettings file
  .github/workflows/validate-preview-release-branches-status-check.yml
  .github/workflows/validate-prod-release-branches-status-check.yml
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.9.md
  Testing/Velaptor.runsettings
  Velaptor/Velaptor.csproj
Labels: good first issue, low priority, preview

#306 Adjust code naming style setup
  .editorconfig
  Velaptor.sln.DotSettings
Labels: good first issue, tech debt, low priority, preview

#303 Improve release notes
  .github/workflows/validate-preview-release-branches-status-check.yml.disabled
  .github/workflows/validate-prod-release-branches-status-check.yml.disabled
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.10.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.11.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.12.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.13.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.14.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.15.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.16.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.17.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.18.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.20.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.20.1.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.21.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.22.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.23.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.23.1.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.24.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.25.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.26.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.27.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.28.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.5.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.6.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.7.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.8.0.md
  Documentation/ReleaseNotes/NonReleases/Release-Notes-v0.9.0.md
  Documentation/ReleaseNotes/Preview-Release-Notes-TEMPLATE.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.2.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.3.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.4.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.5.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.6.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.7.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.8.md
  Documentation/ReleaseNotes/PreviewReleases/Release-Notes-v1.0.0-preview.9.md
  Documentation/ReleaseNotes/Production-Release-Notes-TEMPLATE.md
Labels: good first issue, low priority, preview, 🔗is dependency

#313 Update issue and pr template
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/qa-testing-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr.md
Labels: good first issue, high priority, preview, 📝documentation/product

#317 Rename PR template files
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: good first issue, tech debt, high priority, preview, 📝documentation/product

#304 Improve branching documentation
  Documentation/Branching.md
Labels: high priority, preview, 📝documentation/product

#319 Update Code of Conduct
  code_of_conduct.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#321 Create logo icon to use for nuget.org
  Velaptor/Velaptor.csproj
  Velaptor/velaptor-logo.ico
Labels: high priority, preview, 📝documentation/product

#326 Fix release todo issue template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, high priority, preview, 📝documentation/product

#324 Update readme file
  README.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#331 Update release todo template
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
Labels: good first issue, high priority, preview, 📝documentation/product

#334 Add 2 tasks to PR templates
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: good first issue, medium priority, preview, 📝documentation/product

#336 Remove issue and pr templates
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request-issue-template.yml
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
  .github/ISSUE_TEMPLATE/release-todo-issue-template.yml
  .github/ISSUE_TEMPLATE/research-issue-template.yml
  .github/PULL_REQUEST_TEMPLATE/feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-feature-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/preview-release-pr-template.md
  .github/PULL_REQUEST_TEMPLATE/production-release-pr-template.md
Labels: high priority, preview, 📝documentation/product

#340 Remove qa testing issue template
  .github/ISSUE_TEMPLATE/qa-testing-template.yml
Labels: high priority, preview, 📝documentation/product

#341 Update triage issue workflow
  .github/workflows/triage-issue.yml
Labels: workflow, preview

#337 Update Nuget Packages
  Testing/VelaptorTests/VelaptorTests.csproj
  Velaptor/Velaptor.csproj
Labels: good first issue, dependency update, tech debt, medium priority, preview
