Repository KinsonDigital/Velaptor, pull requests merged in 2022-07, with the labels that each got.

#288 Update Branching Documentation
  Documentation/Branching.md
  Documentation/Images/BranchingDiagram-DarkMode-v1.1.png
  Documentation/Images/BranchingDiagram-DarkMode.png
  Documentation/Images/BranchingDiagram-LightMode-v1.1.png
  Documentation/Images/BranchingDiagram-LightMode.png
Labels: medium priority, preview, 📝documentation/product, 🔗is dependency

#291 Fixed spelling error in issue template
  .github/ISSUE_TEMPLATE/bug-issue-template.yml
Labels: good first issue, high priority, 📝documentation/product

#299 Fix issue template spelling issue
  .github/ISSUE_TEMPLATE/research-issue-template.yml
Labels: tech debt, high priority, preview, 📝documentation/product, 🔗is dependency

#300 Fixed project item issue template
  .github/ISSUE_TEMPLATE/project-item-issue-template.yml
Labels: tech debt, high priority, preview, 📝documentation/product, 🔗is dependency
